.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  height: 1024px;
  position: relative;
}
.layout {
  background: #e0b3fe;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 116px 314px 873px 205px;
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  height: 1024px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}
.main-menu {
  display: flex;
  flex-direction: row;
  gap: 68px;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 883px;
  top: 121px;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.hero-section {
  width: 1066px;
  height: 197px;
  position: static;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 187px;
  top: 342px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 187px;
  top: 445px;
  width: 1066px;
  height: 94px;
}
.budt-748 {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 131px;
  top: 118px;
}
.group-2 {
  width: 180px;
  height: 57px;
  position: static;
}
.rectangle-1 {
  background: #a8ff35;
  border-radius: 10px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 569px;
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 651px;
  top: 583px;
}
